# STRUCTURED DATA

As we saw in the last class the structured data, like tables, are useful to order the data. First, we are going to look how to create tables in basic python.

## BASIC TABLE IN PYTHON

With a small amount of data in CSV format:

In [24]:
data = open("basic_data.csv", "r")
data

Now, we are going to isolate each line.

In [6]:
l_data = data.readlines()
l_data

['ID,Name,Age,Gender\n',
 'patient_01,Sara,23,female\n',
 'patient_02,Jose,32,male\n',
 'patient_03,Jose,65,male\n',
 'patient_04,Veronica,32,female\n']

Each element of this list will be a row in the table. In this case, the first element of the list will be the attributes and the others the entries.

In [7]:
att = l_data[0]
ent = l_data[1:]
print(att)
print(ent)

ID,Name,Age,Gender

['patient_01,Sara,23,female\n', 'patient_02,Jose,32,male\n', 'patient_03,Jose,65,male\n', 'patient_04,Veronica,32,female\n']

First, we need to transform each element of the list l_data to get a list of lists.

In [8]:
for i, ele in enumerate(l_data):
    l_data[i] = ele.replace("\n", "").split(",")
l_data

[['ID', 'Name', 'Age', 'Gender'],
 ['patient_01', 'Sara', '23', 'female'],
 ['patient_02', 'Jose', '32', 'male'],
 ['patient_03', 'Jose', '65', 'male'],
 ['patient_04', 'Veronica', '32', 'female']]

Now, we are going to transform this list os lists into a table format using basic python.

In [9]:
for ele in l_data:
    print("|",ele[0]," "*(13-len(ele[0])),"|",
         ele[1]," "*(13-len(ele[1])),"|",
          ele[2]," "*(13-len(ele[2])),"|",
          ele[3]," "*(13-len(ele[3])),"|"
         )

| ID             | Name           | Age            | Gender         |
| patient_01     | Sara           | 23             | female         |
| patient_02     | Jose           | 32             | male           |
| patient_03     | Jose           | 65             | male           |
| patient_04     | Veronica       | 32             | female         |

## TABLES WITH PANDAS

The **pandas** package provide fast, flexible, and expressive data structures compared with the tables created with basic python code.

### INSTALLATION

Pandas package is already installed in python when you install Anaconda program. If we are using Miniconda or the import does not working we need **one** of the next statements:

In [10]:
#!pip install pandas #pip 
#!pip3 install pandas #pip3
#!conda install pandas

### IMPORT

Once we install the package you can import the package as:

In [11]:
import pandas as pd

### CREATE DATAFRAME

One of the ways to create a table in pandas is using the DataFrame class object and input the next parameters:

In [12]:
att = l_data[0]
ent = l_data[1:]
print(att)
print(ent)

['ID', 'Name', 'Age', 'Gender']
[['patient_01', 'Sara', '23', 'female'], ['patient_02', 'Jose', '32', 'male'], ['patient_03', 'Jose', '65', 'male'], ['patient_04', 'Veronica', '32', 'female']]

Now, we use the variables to create the DataFrame:

In [13]:
df = pd.DataFrame(data=ent, columns=att)
print(df)

           ID      Name Age  Gender
0  patient_01      Sara  23  female
1  patient_02      Jose  32    male
2  patient_03      Jose  65    male
3  patient_04  Veronica  32  female

### READ FILES

Another way to create a table is using the functions of reading of pandas and read directly a file.

In [ ]:
pd.read_  #Press tab when you are positioned after the _ to get the list of readers

As example we are going to read the file used in the first part of the practice:

In [14]:
l_data = pd.read_csv("basic_data.csv")
print(l_data)
l_data

           ID      Name  Age  Gender
0  patient_01      Sara   23  female
1  patient_02      Jose   32    male
2  patient_03      Jose   65    male
3  patient_04  Veronica   32  female

           ID      Name  Age  Gender
0  patient_01      Sara   23  female
1  patient_02      Jose   32    male
2  patient_03      Jose   65    male
3  patient_04  Veronica   32  female

In the ouput we can directly obtain the table without more statements. The type of this tables are always like **DataFrame** class object (2D, rows&columns) and each column are **Series** class object (1D, list):

In [15]:
print(type(l_data))
print(type(l_data["ID"]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

### GET DATA

Here we can see that we can get the data of each attribute using the name of the column.

In [16]:
l_data["Name"]

0        Sara
1        Jose
2        Jose
3    Veronica
Name: Name, dtype: object

We can transform this object into a list using two methods:

In [17]:
print(l_data["Name"].to_list())
print(list(l_data["Name"]))

['Sara', 'Jose', 'Jose', 'Veronica']
['Sara', 'Jose', 'Jose', 'Veronica']

Also, we can obtain the unique values in a column.

In [18]:
l_data["Name"].unique()

array(['Sara', 'Jose', 'Veronica'], dtype=object)

### FILTERING

The most useful use of pandas package is the **filtering** of the tables to obtain certain data. Now we are going to filter the table to obtain the entries of patients that are under the age of 50 years.

In [19]:
age_data = l_data[l_data["Age"] < 50]
age_data

           ID      Name  Age  Gender
0  patient_01      Sara   23  female
1  patient_02      Jose   32    male
3  patient_04  Veronica   32  female

In case that we do not remember the name of the columns we can use:

In [20]:
l_data.columns

Index(['ID', 'Name', 'Age', 'Gender'], dtype='object')

Also, we can use more than one filter in the same statement (& as AND, | as OR). Now we are going to filter the table to obtain the entries of patients that are under the age of 50 years and are female.

In [21]:
age_gender_data = l_data[(l_data["Age"] < 50) & (l_data["Gender"] == "female")]
age_gender_data

           ID      Name  Age  Gender
0  patient_01      Sara   23  female
3  patient_04  Veronica   32  female

### OUTPUT THE TABLE

We saw that pandas have a lot of diferent types of **readers** for each type of file. Also, the package have **writers** to convert one type file in other.

In [ ]:
age_gender_data.to_ #Press tab when you are positioned after the _ to get the list of writers

In this case we are going to write an output json file using the table age_gender_data.

In [22]:
age_gender_data.to_json("age_gender_data.json")

In [23]:
file_in = open("age_gender_data.json").readlines()
file_in

['{"ID":{"0":"patient_01","3":"patient_04"},"Name":{"0":"Sara","3":"Veronica"},"Age":{"0":23,"3":32},"Gender":{"0":"female","3":"female"}}']

## EXERCISE USING COVID-19 DATA

Using the file "covid_worlwide.csv" answer the next questions:

In [34]:
import pandas as pd

covid_data = open("covid_worlwide.csv", "r")
covid_data

c_data = pd.read_csv("covid_worlwide.csv")
print(c_data)
c_data

          dateRep  day  month  year  cases  deaths countriesAndTerritories  \
0      19/11/2020   19     11  2020      0       0             Afghanistan
1      18/11/2020   18     11  2020    383      13             Afghanistan
2      17/11/2020   17     11  2020     65       6             Afghanistan
3      16/11/2020   16     11  2020    163       9             Afghanistan
4      15/11/2020   15     11  2020    205      12             Afghanistan
...           ...  ...    ...   ...    ...     ...                     ...
56570  25/03/2020   25      3  2020      0       0                Zimbabwe
56571  24/03/2020   24      3  2020      0       1                Zimbabwe
56572  23/03/2020   23      3  2020      0       0                Zimbabwe
56573  22/03/2020   22      3  2020      1       0                Zimbabwe
56574  21/03/2020   21      3  2020      1       0                Zimbabwe

      geoId countryterritoryCode  popData2019 continentExp  \
0        AF                  AFG   38041757.0         Asia
1        AF                  AFG   38041757.0         Asia
2        AF                  AFG   38041757.0         Asia
3        AF                  AFG   38041757.0         Asia
4        AF                  AFG   38041757.0         Asia
...     ...                  ...          ...          ...
56570    ZW                  ZWE   14645473.0       Africa
56571    ZW                  ZWE   14645473.0       Africa
56572    ZW                  ZWE   14645473.0       Africa
56573    ZW                  ZWE   14645473.0       Africa
56574    ZW                  ZWE   14645473.0       Africa

       Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0                                               5.036571
1                                               5.354642
2                                               4.573921
3                                               4.652782
4                                               4.571293
...                                                  ...
56570                                                NaN
56571                                                NaN
56572                                                NaN
56573                                                NaN
56574                                                NaN

[56575 rows x 12 columns]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,19/11/2020,19,11,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,5.036571
1,18/11/2020,18,11,2020,383,13,Afghanistan,AF,AFG,38041757.0,Asia,5.354642
2,17/11/2020,17,11,2020,65,6,Afghanistan,AF,AFG,38041757.0,Asia,4.573921
3,16/11/2020,16,11,2020,163,9,Afghanistan,AF,AFG,38041757.0,Asia,4.652782
4,15/11/2020,15,11,2020,205,12,Afghanistan,AF,AFG,38041757.0,Asia,4.571293
...,...,...,...,...,...,...,...,...,...,...,...,...
56570,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
56571,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
56572,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
56573,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
56574,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

In [41]:
c_data["countriesAndTerritories"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua_and_Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba', 'Bosnia_and_Herzegovina',
       'Botswana', 'Brazil', 'British_Virgin_Islands',
       'Brunei_Darussalam', 'Bulgaria', 'Burkina_Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape_Verde',
       'Cases_on_an_international_conveyance_Japan', 'Cayman_Islands',
       'Central_African_Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Costa_Rica', 'Cote_dIvoire', 'Croatia',
       'Cuba', 'Curaçao', 'Cyprus', 'Czechia',
       'Democratic_Republic_of_the_Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican_Republic', 'Ecuador', 'Egypt',
       'El_Salvador', 'Equatorial_Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland_Islands_(Malvinas)',
       'Faroe_Islands', 'Fiji', 'Finland', 'France', 'French_Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey',
       'Guinea', 'Guinea_Bissau', 'Guyana', 'Haiti', 'Holy_See',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle_of_Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall_Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New_Caledonia', 'New_Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North_Macedonia', 'Northern_Mariana_Islands', 'Norway', 'Oman',
       'Pakistan', 'Palestine', 'Panama', 'Papua_New_Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto_Rico',
       'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint_Kitts_and_Nevis',
       'Saint_Lucia', 'Saint_Vincent_and_the_Grenadines', 'San_Marino',
       'Sao_Tome_and_Principe', 'Saudi_Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra_Leone', 'Singapore', 'Sint_Maarten',
       'Slovakia', 'Slovenia', 'Solomon_Islands', 'Somalia',
       'South_Africa', 'South_Korea', 'South_Sudan', 'Spain', 'Sri_Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Thailand', 'Timor_Leste', 'Togo',
       'Trinidad_and_Tobago', 'Tunisia', 'Turkey',
       'Turks_and_Caicos_islands', 'Uganda', 'Ukraine',
       'United_Arab_Emirates', 'United_Kingdom',
       'United_Republic_of_Tanzania', 'United_States_of_America',
       'United_States_Virgin_Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Wallis_and_Futuna', 'Western_Sahara',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

- How many countries of **Africa** are in this database?
13,606

In [38]:
africa_data[] = c_data[c_data["continentExp"] == "Africa"]
if x in africa_data:
    
africa_data

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
571,19/11/2020,19,11,2020,1038,20,Algeria,DZ,DZA,43053054.0,Africa,25.786789
572,18/11/2020,18,11,2020,1002,18,Algeria,DZ,DZA,43053054.0,Africa,24.648658
573,17/11/2020,17,11,2020,910,14,Algeria,DZ,DZA,43053054.0,Africa,23.261997
574,16/11/2020,16,11,2020,860,15,Algeria,DZ,DZA,43053054.0,Africa,21.849786
575,15/11/2020,15,11,2020,844,14,Algeria,DZ,DZA,43053054.0,Africa,20.618746
...,...,...,...,...,...,...,...,...,...,...,...,...
56570,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
56571,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
56572,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
56573,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
56574,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

- How many territories **Worldwide** have more than 100 cases and less than 10 deaths?
9,085

In [40]:
cases_data = c_data[(c_data["cases"] > 100) & (c_data["deaths"] < 10)]
cases_data

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
3,16/11/2020,16,11,2020,163,9,Afghanistan,AF,AFG,38041757.0,Asia,4.652782
7,12/11/2020,12,11,2020,146,4,Afghanistan,AF,AFG,38041757.0,Asia,3.848403
11,08/11/2020,8,11,2020,126,6,Afghanistan,AF,AFG,38041757.0,Asia,3.656508
14,05/11/2020,5,11,2020,121,6,Afghanistan,AF,AFG,38041757.0,Asia,3.745884
17,02/11/2020,2,11,2020,132,5,Afghanistan,AF,AFG,38041757.0,Asia,3.766913
...,...,...,...,...,...,...,...,...,...,...,...,...
56450,23/07/2020,23,7,2020,214,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,7.845428
56451,22/07/2020,22,7,2020,107,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,7.053374
56452,21/07/2020,21,7,2020,102,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,6.684659
56453,20/07/2020,20,7,2020,133,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,6.111103
56456,17/07/2020,17,7,2020,273,3,Zimbabwe,ZW,ZWE,14645473.0,Africa,5.086896

- Extract the cases of **Europe** and return a html file as output with all cases.